Flask==0.11
SQLAlchemy==1.0.14
flask-docjson==0.1.7
redis==2.10.5
requests==2.11.1
pyquery==1.3.0
flask-login==0.4.1
flask-wtf==0.14.2
psycopg2==2.7.4
gunicorn==19.7.1
gevent==1.2.2
celery==4.1.0
psycopg2-binary==2.7.4