{% extends "base.html" %}
{% block content %}
<script src="https://unpkg.com/axios@0.17.1/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='vue.min.js') }}"></script>


<div id='apply_review' >
	<li v-for='iter in json' style="border-style: solid; display: inline-block;border-width: 1px;width: 200px;">
		[[ iter.stock_name ]]
		<img :src=iter.stock_image height="250" width="180">
		<button type="button" v-on:click="submit(iter.id)">通过[[ iter.id ]]</button>
	</li>
	<p> [[msg]] </p>
</div>
<script>

var apply_review = new Vue({
	el: '#apply_review',
	data: {
		json: 'test',
		msg: 'test'
	},
	delimiters: ['[[',']]'],
	created: function(){
		axios.get("/api/get_apply/").then(function(response){
			console.log(response.data.json),
			apply_review.json = response.data.json

		});
	},
    methods: {
        submit:function(id){
            axios.post('/api/apple_pass/',{id:id,type:1}).then(function(response) { 
            	console.log(response.data);
            	apply_review.msg = response.data.msg });

           	axios.get("/api/get_apply/").then(function(response){
				console.log(response.data.json),
				apply_review.json = response.data.json

		});
        }
    }
});

</script>
{% endblock %}