{% extends "base.html" %}

{% block content %}
  <h1>Sign In</h1>
  <div class='login'>
    <form action="{{ url_for('login') }}" method="post" name="login">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=20) }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            <!-- 我们可以传递input标签的属性，这里传递的是size属性 -->
            {{ form.password(size=20) }}<br>
        </p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
  </div>
<style type="text/css"> 
body {background-image: url("http://malu-picture.oss-cn-beijing.aliyuncs.com/18-3-31/13285629.jpg")}
div.login{
    margin: auto;
    margin-top:23%;
    width: 50%;
    padding: 10px;
}
form{
    margin: auto;
    width: 50%;
    padding: 10px;
}
p{
    margin: auto;
    width: 50%;
    padding: 10px;
}
</style> 
{% endblock %}

