<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>  

{% extends "base.html" %}
{% block content %}
{% for stock in stocks %}
<div style="border-style: solid; display: inline-block;border-width: 1px;width: 200px;" onclick="sclick({{stock.id}})">
	<img src={{ stock.cover }}  alt={{stock.name}} height="250" width="180" />
    <p>{{stock.name}}
    </p>
</div>
{% endfor %}

<script>  
function sclick(id){  
    window.location.href='./stock/?id='+id;
}  
$('#oo').bind('click',function(event){
    alert('im a');
    event.stopPropagation();

});
</script>
<style> 
div{  
    display: inline-block;  
}  
</style> 
{% endblock %}

