<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>  
{% extends "base.html" %}
{% block content %}
<style> 
#works{
  display: inline-block;
  border-width: 1px;
  width: 400px;
  
  transition: all 0.2s;/*图片放大过程的时间*/
  background-color: #f05b72;
  margin: 10px;
  border-radius: 5px;
}
#works:hover{
  transform: scale(1.1);/*鼠标经过图片放大的倍数*/
  box-shadow:0px 0px 15px #26A65B;
}
#works img{
  width: 400px;
  height: 300px;
  border-radius: 5px;
}
#stock{
  text-align: center;
  margin: 10px;
}
#stock p{
  border-style: solid;
  border-width: 1px;
  margin-left:auto;
  margin-right:auto;
  width:70%;
  height: 20px;
  border-radius:5px;
  -webkit-line-clamp: 6;
  overflow: hidden;
  background-color: #fffef9;
}
</style> 
<div id="stock" >
	<div id ='works' v-for="iter in stock_json"  v-on:click="sclick(iter.id)">
		<img :src="iter.cover">
		<p>[[ iter.name ]]</p>
	</div>
  <div v-show="!(limit + offset) < count">
    <p v-model="offset" v-on:click="stock(Number(offset) + 24, 24)">下一页</p>
  </div>
</div>

<script>  
var stock = new Vue({
  el: '#stock',
  data: {
    msg:'',
    limit:'',
    offset:[0],
    count:'',
    stock_json:[],
    stock_temp:[]
  },
    delimiters: ['[[',']]'],
    created: function(){
         axios.get('/api/stock_change/',{params:{limit:24, offset:0,
          factory:getQueryVariable("factory"),
          company:getQueryVariable("company"),
          category:getQueryVariable("category")
        }}).then(function(response) { 
         	stock.msg = response.data.msg;
          stock.limit = response.data.limit;
          stock.offset = response.data.offset;
          stock.count = response.data.count;
         	stock.stock_json = response.data.stock});
    },
    methods: {
        sclick(id){  
    		window.location.href='/stock/?id='+id;
		    },
        stock(offset,limit){
          var _this = this;
          axios.get('/api/stock_change/',{params:{limit:limit, offset:offset,
          factory:getQueryVariable("factory"),
          company:getQueryVariable("company"),
          category:getQueryVariable("category")
          }}).then(function(response) { 
            stock.msg = response.data.msg;
            stock.limit = response.data.limit;
            stock.offset = response.data.offset;
            stock.offset = response.data.offset;
            stock.count = response.data.count;
            stock.stock_temp = response.data.stock;
            console.log(stock.offset)
          }).then(function(){
            var stock_len = stock.stock_temp.length;
            for (var i = 0; i < stock_len; i++) {
                _this.stock_json.push(stock.stock_temp[i])
            }

          });
      }
    }
});
function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
    }
function getQueryVariable(variable)
{
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return decodeURIComponent(pair[1]);}
       }
       return(null);
}
function getUrlVars() {
  var vars = {};
  var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&#]*)/gi,
    function(m,key,value) {
      vars[key] = value;
    }
  );
  return decodeURIComponent(vars);
}
</script>

{% endblock %}

