{% extends "base.html" %} {% block content %}
<script src="{{ url_for('static', filename='axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='vue.min.js') }}"></script>
<style type="text/css">
  .works{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
  }
  .works img{
    width: 30%;
    height: 400px;
    display: inline-block;

  }
  .tag{
    position:absolute;
    display: inline-block;
    width: 69%;
    right: 0px;
    height: 400px;

  }
  .tag p{
    padding-left: 15px;
    padding-right: 15px;
  }
  .screenshots img{
    width: 250px;
    height: 150px;
    padding-left: 5px;
  }
  #addMagnet{
    border-width: 2px;
    padding-left: 20px;
  }
  #Magnet p{
    border-width: 1px;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    color: #2a5caa;
  }
</style>

<div class="works">
    <img :src="cover">
    <div class="tag">
      <p>作品名：[[ name ]]</p>
      <p>发布时间：[[ release_time ]]</p>
      <p>时长：[[ length_time ]]</p>
      <p>公司：[[ company ]]</p>
      <p>制作社：[[ factory ]]</p>
      <p>类型：[[ category ]]</p>
      <p>简介: [[ introduction ]]</p>
    </div>
    <p>截图</p>
    <div class="screenshots">
      <img v-for="iter in screenshots" :src="iter">
    </div>
</div>


<div id="addMagnet"> 
  <p v-on:click="show = !show">添加磁力链接</p>
  <input type="Magnet" name="addMagenet" v-model='Magnet' v-if="show">
  <button v-on:click="submit" v-if="show">添加</button>
</div>
<div id="Magnet">
  <p v-for="iter in Magnet" v-model='Magnet' class="Magnet">
      [[ iter.Magnet ]]
  </p>
</div>

<div id="order_Selling">
<p>卖单：</p>
  <ol>
  <li v-for="iter in msg" v-model="msg">数量： [[ iter.stock_number ]] 价格：[[iter.stock_price]]
  </li>
  </ol>
</div>

<div id="order_Buying">
<p>买单：</p>
  <ol>
  <li v-for="iter in msg" v-model="msg">数量： [[ iter.stock_number ]] 价格：[[iter.stock_price]]
  </li>
  </ol>
</div>

<div id="order_submit">
    <button v-on:click="show = !show, order_type = 1">
    买单
    </button>
    <button v-on:click="show = !show, order_type = 2">
    卖单
    </button><br>
<input v-model="stock_number" placeholder="stock_number" v-if="show"><br>
<input v-model="stock_price" placeholder="stock_price" v-if="show">
<button v-on:click="submit" v-if="show">确认</button>
<p>[[ message ]]</p>


</div>
<script>
var info = new Vue({
  el: '.works',
  data: {
    msg: '',
    name: '',
    introduction: '',
    cover: '',
    works_series: '',
    release_time: '',
    length_time: '',
    company: '',
    factory: '',
    category: '',
    screenshots: ''
  },
    delimiters: ['[[',']]'],
    created: function(){
         axios.get('/api/stockinfo/',{params:{
          stock_id:getQueryString("id")}}).then(function(response) {
           info.msg = response.data.msg,
           info.name = response.data.json.name,
           info.introduction = response.data.json.introduction,
           info.cover = response.data.json.cover,
           info.works_series = response.data.json.works_series,
           info.release_time = response.data.json.release_time,
           info.length_time = response.data.json.length_time,
           info.company = response.data.json.company,
           info.factory = response.data.json.factory,
           info.category = response.data.json.category,
           info.screenshots = response.data.json.screenshots.split(','),
           console.log(info.screenshots)
            });
    },
    methods: {
        update:function(){
         axios.get('/api/stockinfo/',{params:{
          stock_id:getQueryString("id")}}).then(function(response) { 
           info.msg = response.data.msg,
           info.name = response.data.json.name,
           info.introduction = response.data.json.introduction,
           info.cover = response.data.json.cover,
           info.works_series = response.data.json.works_series,
           info.release_time = response.data.json.release_time,
           info.length_time = response.data.json.name,
           info.company = response.data.json.company,
           info.factory = response.data.json.factory,
           info.category = response.data.json.category,
           info.screenshots = response.data.json.screenshots
            });
        }
    }
})


var addMagnet = new Vue({
  el: '#addMagnet',
  data:{
    msg: '',
    Magnet: '',
    show: false
  },
    delimiters: ['[[',']]'],
    methods:{
        submit: function () {
            axios.post('/api/Magnet/',{
                stock_id:getQueryString("id"),
                Magnet:addMagnet.Magnet,
            }).then(function(response){
                // console.log(response.data),
                addMagnet.msg = response.data.msg,
                Magnet.update()
            })
        }
    }
})
var Magnet = new Vue({
  el: '#Magnet',
  data: {
    msg: '',
    Magnet: ''
  },
    delimiters: ['[[',']]'],
    created: function(){
         axios.get('/api/Magnet/',{params:{
          stock_id:getQueryString("id")}}).then(function(response) { 
           Magnet.msg = response.data.msg,
           Magnet.Magnet = response.data.Magnet,
           console.log(Magnet.Magnet)
            });
    },
    methods: {
        update:function(){
         axios.get('/api/Magnet/',{params:{
          stock_id:getQueryString("id")}}).then(function(response) { 
           Magnet.msg = response.data.msg,
           Magnet.Magnet = response.data.Magnet,
           console.log(Magnet.Magnet)
            });
        }
    }
})


var order_Buying = new Vue({
  el: '#order_Buying',
  data: {
    msg:  '',
    stock_number:'',
    stock_price:''

  },
    delimiters: ['[[',']]'],
    created: function(){
         axios.get('/api/stock/',{params:{id:getQueryString("id"),type:1}}).then(function(response) { 
              // console.log(response.data); 
              // console.log(response.status); 
              // console.log(response.statusText); 
              // console.log(response.headers); 
              // console.log(response.config); 
              order_Buying.msg = response.data.body });
    },
    methods: {
        update:function(){
            axios.get('/api/stock/',{params:{id:getQueryString("id"),type:1}}).then(function(response) { 
              // console.log(response.data); 
              // console.log(response.status); 
              // console.log(response.statusText); 
              // console.log(response.headers); 
              // console.log(response.config); 
              order_Buying.msg = response.data.body });

        }
    }
});
var order_Selling = new Vue({
  el: '#order_Selling',
  data: {
    msg:  '',
    stock_number:'',
    stock_price:''

  },
    delimiters: ['[[',']]'],
    created: function(){
        axios.get('/api/stock/',{
            params:{
                id:getQueryString("id"),
                type:2}}).then(function(response) {
                 // console.log(response.data);
                 // console.log(response.status);
                 // console.log(response.statusText);
                 // console.log(response.headers);
                 // console.log(response.config);
                 order_Selling.msg = response.data.body 
                  });
    },
    methods: {
        update:function(){
            axios.get('/api/stock/',{params:{id:getQueryString("id"),type:2}}).then(function(response) { 
              // console.log(response.data); 
              // console.log(response.status); 
              // console.log(response.statusText); 
              // console.log(response.headers); 
              // console.log(response.config); 
              order_Selling.msg = response.data.body });

        }
    }
});
var order_submit = new Vue({
    el:'#order_submit',
    data:{
        stock_number: '',
        stock_price: '',
        message: '',
        show: false,
        order_type: 0,
    },
    methods:{
        submit: function () {
            axios.post('/api/order_submit/',{
                stock_id:getQueryString("id"),
                order_number:order_submit.stock_number,
                order_price:order_submit.stock_price,
                order_type:order_submit.order_type
            }).then(function(response){
                // console.log(response.data),
                order_submit.message = response.data.msg,
                order_Selling.update(),
                order_Buying.update()
            })
        }
    },
    delimiters: ['[[',']]'],
});



function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
    }


</script>
{% endblock %}